#contatos {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 27vh;
    background-color: #010203;
}

#container-contatos{
    display: flex;
    flex-direction: row;
}

#fale-comigo{
    max-width: 700px;
    padding: 20px 60px;
}

#fale-comigo h4{
    text-align: left;
}

#fale-comigo p{
    text-align: justify;
}

#enderecos-contatos{
    margin: 0;
    padding: 20px 60px;
    line-height: 40px;
    border-left: white solid;
    height: fit-content;
}

#contatos a:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 1200px){
    #container-contatos{
        flex-direction: column;
    }

    #enderecos-contatos{
        border-left: none;
        border-top: white solid;
    }
}