#contatos {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-height: 100vh;
    background-color: var(--cor-preto);
    padding: 40px 40px;
}

#container-contatos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#fale-comigo {
    max-width: 600px;
}

#fale-comigo h4 {
    text-align: left;
}

#fale-comigo p {
    text-align: left;
    font-weight: 200;
}

#enderecos-contatos {
    display: flex;
    line-height: 28px;
    height: fit-content;
    padding-left: 7px;
    margin: 0;
    border-left: white solid;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#enderecos-contatos img{
    width: 25px;
    height: auto;
    box-sizing: border-box;
    padding-left: 0px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

#enderecos-contatos ul li:nth-child(1) a::before {
    content: '';
    display: inline-block;
    background-image: url(/img/email.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

#enderecos-contatos ul li:nth-child(2) a::before {
    content: '';
    display: inline-block;
    background-image: url(/img/linkedin.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

#enderecos-contatos ul li:nth-child(3) a::before {
    content: '';
    display: inline-block;
    background-image: url(/img/whatsapp.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

#enderecos-contatos ul li:nth-child(4) a::before {
    content: '';
    display: inline-block;
    background-image: url(/img/dribbble.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

#enderecos-contatos ul li:nth-child(5) a::before {
    content: '';
    display: inline-block;
    background-image: url(/img/github2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

#enderecos-contatos a {
    padding-left: 5px;
    font-size: 1rem;
}

#contatos a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Query laptop */
@media screen and (max-width: 1250px) {
    #container-contatos {
        flex-direction: column;
        width: 100vw;
    }

    #enderecos-contatos {
        border-left: none;
        border-top: white solid;
        max-width: 93vw;
        padding: 20px 0;
    }

    #fale-comigo {
        max-width: 93vw;
    }
}

/* Query mobile */
@media screen and (max-width: 492px) {
    #enderecos-contatos a {
        font-size: 1.125rem;
    }
}
