#experiencia {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--cor-preto);
}

#container-titulo{
    display: flex;
    justify-content: right;
    padding-right: 50px;
    margin-bottom: -60px;
    padding-top: 0px;
}

.experiencia-data h3{
    padding-left: 20px;
}

#experiencia-titulo{
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    color: white;
    z-index: 999;
}

#experiencia-titulo p{
    color: white;
    font-size: 25px;
    font-weight: 200;
    z-index: 999;
}

#experiencia-titulo a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#container-experiencia {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px 20px;
}

.experiencia-item {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px 20px;
    border-radius: 16px;
    z-index: 999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.experiencia-texto {
    max-width: 1000px;
    text-align: justify;
    font-size: 25px;
    gap: 30px;
    color: white;
    z-index: 999;
}

.bolas-experiencia{
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 500px;
}

#bola4{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: -50px;
    background-color: #FFF338;
    box-shadow: 0px 0px 80px 0px #FFF338;
    border-radius: 50%;
    animation: scale1 10s alternate infinite ease-in-out;
  }
  
  #bola5{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: -50px;
    background-color: #D67BFF;
    box-shadow: 0px 0px 80px 0px #D67BFF;
    border-radius: 50%;
    animation: scale2 10s alternate infinite ease-in-out;
    animation-delay: 5s;
  }
  
  #bola6{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: -50px;
    background-color: #00DFA2;
    box-shadow: 0px 0px 80px 0px #00DFA2;
    border-radius: 50%;
    animation: scale1 10s alternate infinite ease-in-out;
  }

  /* Query laptop */
  @media screen and (max-width: 1250px) {
    #container-titulo{
        justify-content: center;
        padding: 0;
        margin-bottom: 0px;
    }

    #container-experiencia{
        margin-top: 0px;
        gap: 10px;
    }

    .experiencia-data h3{
        padding: 0;
    }

    .experiencia-item{
        flex-direction: column;
        gap: 5px;
    }

    .experiencia-item h3, h4{
        text-align: center;
    }

    #bola4, #bola5, #bola6{
        margin-top: 50px;
    }
  }