#inicio {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    padding: 230px 40px 0px;
    background-color: var(--cor-preto);
}

#container-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -170px;
    animation: fadein 1s;
}

#container-hero h1 {
    position: absolute;
    z-index: 999;
    text-align: left;
    min-width: 483px;
    margin-left: 550px;
    margin-top: -160px;
}

#container-hero img {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    width: 45%;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    animation: blob var(--blob_duration) ease-in-out alternate infinite;
}

#container-hero p {
    position: relative;
    display: flex;
    width: 574px;
    padding: 0px 20px 20px 20px;
    color: white;
    font-size: 1.875em;
    line-height: 35px;
    font-weight: 300;
    text-shadow: 4px 4px 6px black;
}

.bolas-inicio {
    position: absolute;
    margin-left: -1050px;
}

#bola1 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #FFF338;
    box-shadow: 0px 0px 80px 0px #FFF338;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: -30px;
    animation: scale2 10s alternate infinite ease-in-out;
}

#bola2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #00DFA2;
    box-shadow: 0px 0px 80px 0px #00DFA2;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: -280px;
    animation: scale1 10s alternate infinite ease-in-out;
}

#bola3 {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #D67BFF;
    box-shadow: 0px 0px 80px 0px #D67BFF;
    border-radius: 50%;
    margin-left: 400px;
    margin-top: -200px;
    animation: scale2 10s alternate infinite ease-in-out;
    animation-delay: 5s;
}

/* Query laptop */
@media screen and (max-width: 1250px) {
    #container-hero {
        flex-direction: column;
        margin-top: 0px;
    }

    #container-hero h1 {
        position: relative;
        margin-left: 0;
        text-align: center;
    }

    #container-hero p {
        justify-content: center;
        text-align: center;
    }

    .bolas-inicio {
        margin-top: -200px;
        margin-left: -500px;
    }
}

/* Query mobile */
@media screen and (max-width: 492px) {
    #container-hero {
        transform: scale(0.7);
        margin-top: -80px;
    }

    #container-hero img {
        width: 450px;
    }

    #container-hero p {
        font-size: 1.7rem;
    }

    #bola1 {
        margin-top: -50px;
        margin-left: 0px;
    }

    #bola2 {
        margin-top: -250px;
        margin-left: 50px;
    }

    #bola3 {
        margin-left: 385px;
        margin-top: -160px;
    }
}