#sobre {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    background-color: #030507;
    z-index: 999;
}

#container-sobre {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 90px 40px 60px;
    max-width: 1250px;
}

#container-sobre h2{
    max-width: 165px;
}

#sobre-box {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#sobre-box h2 {
    text-align: right;
}

#sobre-box p {
    text-align: justify;
}

#sobre-stack {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#sobre-stack h2 {
    text-align: right;
}

#sobre-stack ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

#sobre-stack li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-color: #010203;
}

#sobre-stack img{
    width: 50px;
    height: 50px;
}

#spotify{
    height: 550px;
}

/* Query laptop */
@media screen and (max-width: 1250px) {
    #container-sobre{
        gap: 30px;
    }

    #container-sobre h2{
        max-width: 100%;
        text-align: center;
        text-wrap: nowrap;
    }

    #sobre-box {
        margin-top: 0px;
        flex-direction: column;
        gap: 20px;
    }

    #sobre-stack{
        flex-direction: column;
        gap: 20px;
    }

    #spotify{
        height: 400px;
    }
    
}