#sobre {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor-cinza);
    z-index: 999;
}

#container-sobre {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    gap: 50px;
    padding: 0px 40px;
}

#container-sobre h2{
    max-width: 165px;
}

#sobre-box {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#sobre-box h2 {
    text-align: right;
}

#sobre-box p {
    text-align: left;
}

#sobre-stack {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#sobre-stack h2 {
    text-align: right;
}

#sobre-stack ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

#sobre-stack li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-color: #010203;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#sobre-stack li:hover{
    background-color: var(--cor-laranja);
}

#sobre-stack img{
    width: 50px;
    height: 50px;
}

#spotify{
    height: 420px;
}

/* Query laptop */
@media screen and (max-width: 1250px) {
    #container-sobre{
        gap: 30px;
    }

    #container-sobre h2{
        text-align: center;
        max-width: 100%;
        text-wrap: nowrap;
    }

    #sobre-box {
        flex-direction: column;
        gap: 20px;
        margin-top: 0px;
    }

    #sobre-stack{
        flex-direction: column;
        gap: 20px;
    }

    #spotify{
        height: 400px;
    }
}
